html{font-size:31.25%;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body,h3,h4,h5,h6,ul,li,ol,div,dl,dt,dd,p,img,a,form{margin:0;padding:0;font-family:"微软雅黑";-webkit-tap-highlight-color:rgba(0,0,0,0);appearance:none;}
div{width:auto;border: none;outline: none;outline-style: none;}
body,html{padding:0;margin:0;font-family:Helvetica,STHeiti,Microsoft Yahei;background-color:#fff;overflow:visible;line-height:1.4;color:#110e15;-webkit-text-size-adjust:100%!important;}
img{vertical-align:middle;border:0 none;width:100%;display:block;}
li{list-style:none;list-style-position:outside;}
a{text-decoration:none;overflow:hidden;opacity:1;outline:none;}
a:hover{color:#000;text-decoration:none;}
ul{list-style:none;}
input,select{vertical-align:middle;padding:0;margin:0;border:none;outline:none;outline-style:none;}
body{overflow-x: hidden;position: fixed;}

.box{width:100%;margin:0 auto; position:relative;overflow-x: hidden;max-width: 750px;}

.pos {position: relative;width: 100%;}

.logo {position: absolute;left: 20px;top: 16px;width: 185px;}
.kv_title {position: absolute;left: 180px;top: 87px;width: 340px;}
.labor_bottom {position: absolute;left: 24px;top: 387px;width: 710px;}
.labor_text {position: absolute;left: 58px;top: 550px;width: 642px;}

.labor_turn {position: absolute;left: 58px;top: 300px;width: 640px;height: 225px;}
.labor_turn .slick-dots{position: absolute;width: 100%;text-align: center; left: 265px;top: 240px;z-index: 99}
.labor_turn .slick-dots li{margin-right: 1%; width: 9px ;height:9px;background: url("../images/hui.png") left top no-repeat;background-size: 100%;
    display: block; position: relative;float: left;}
.labor_turn .slick-dots li button{ text-indent: 9999px}
.labor_turn .slick-dots li button{position: absolute; left: 0; top: 0;}
.labor_turn .slick-dots li.slick-active button{background: url("../images/lan.png") left top no-repeat;width: 100%; position: absolute;  height: 100%;background-size: 100%;
}

.flowers_title {position: absolute;left:21px;top: 731px;width: 709px;}
.flowers_turn {position: absolute;left: 20px;top: 818px;width: 710px;}
.flowers_turn .slick-dots{position: absolute;width: 100%;text-align: center;left: 260px;top: 278px;z-index: 99}
.flowers_turn .slick-dots li{margin-right: 1%; width: 13px ;height:13px;background: url("../images/bai.png") left top no-repeat;background-size: 100%;
    display: block; position: relative;float: left;}
.flowers_turn .slick-dots li button{ text-indent: 9999px}
.flowers_turn .slick-dots li button{position: absolute; left: 0; top: 0;}
.flowers_turn .slick-dots li.slick-active button{background: url("../images/huang.png") left top no-repeat;width: 100%; position: absolute;  height: 100%;background-size: 100%;
}

.flowers_bottom {position: absolute;right: 0;bottom: 0;width: 670px;}
.video_img {position: absolute;left: 0;top: 0;width: 430px;}

.name {position: absolute;left: 462px;top: 79px;width: 200px;font-weight: bold;font-size: 25px;}
.name span {margin-left: 10px;font-weight: 500;}

.division {position: absolute;left: 462px;top: 128px;width: 200px;font-weight: bold;font-size: 25px;}
.division span {margin-left: 10px;font-weight: 500;}

.votes {position: absolute;left: 462px;top: 174px;width: 200px;font-weight: bold;font-size: 25px;}
.votes span {margin-left: 10px;font-weight: 500;}

.page_num {position: absolute;left: 500px;top: -5px;width: 200px;font-weight: bold;font-size: 25px;color:#fff27f;}
.page_num span {margin-left: 0;font-weight: 500;color: #fff;}

.prev {position: absolute;left: 460px;top: 4px;width: 9px;}
.next {position: absolute;left: 602px;top: 2px;width: 9px;}

.vote_btn {position: absolute;left: 20px;top: 1124px;width: 710px;}

/*弹窗*/
.pop {position: fixed;background-color: rgba(0,0,0,0.9);width: 100%;height: 100%;z-index: 999;display: none}
.Shut_btn {position: absolute;left: 655px;top: 35px;width: 58px;}
.video {position: absolute;left: 76px;top: 85px;width: 594px;height: 1000px;z-index: 9999}
.play {display: none}
